.course-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  margin: 10px;
  transition: transform 0.2s;
  background-color: #f9f9f9;
}

.course-card:hover {
  transform: scale(1.05);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #45a049; 
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #e53935;
}
