.course-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.course-card h3,
.course-card p {
  margin: 0;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex-grow: 1;
  min-height: 1.5em;
}

.course-card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .course-card {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .course-card {
    width: 120px;
  }
}
